name: Deploy AlpineAntiCheat Web

on:

  push:
    branches: [ "main" ]


jobs:

  deploy:

    runs-on: ubuntu-latest

    steps:

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |

            cd AlpineAntiCheat-Web

            git pull

            npm install

            pm2 restart server.js || pm2 start server.js
